html * {
  margin:0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  text-align: center;
  overflow: hidden;
  cursor: none;
}
table {
  width:100%;
}
table, th, td {
  border-collapse: collapse;
  border: 0px;
}
#title {
  font-size:40px;
  font-weight:bold;
}
#eventName {
  text-align:left;
}
#matchText {
  font-size: 3vmax;
}
#countdown {
  font-size:300px;
  margin-top:50px;
}
