html * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  text-align: center;
   overflow: hidden;
}

#eventName {
  font-size: 3vmax;
  font-weight: bold;
}

#matchText {
  font-size: 3vmax;
}

#countdown {
  font-size: 50vmin;
  padding-top: 0;
  margin-top: 0;
}

.fll-logo {
  display: block;
  width: auto;
  height: auto;
  margin-left: 2vmax;
  margin-right: 2vmax;
}

.game-logo {
  //width: 17vmax;
}
