html * {
  margin:0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  overflow: hidden;
  cursor: none;
}

table {
  width:100%;
}

table, th, td {
  border-collapse: collapse;
  border: 0px;
}

#rankingsTable {
  font-size: 105%;
}

::-webkit-scrollbar {
    display: none;
}
